<div class="hero">
    <img src="/static/Meal Kit.jpg" class="heroPic" alt="logo" />
    <div class="imgText">Our Top Meal Packages</div>
  </div>

  <section  style="margin-bottom: -50px;" class="package-section">


    <div class="top-packages">
      <h4>Each package contains different meals plans to meet your specific nutrition goals.</h2>
    </div>
    <hr>
    
    <div style="text-align: center;" class="container-fluid" >
      <div class="row">

         {{#each dataEntry}}
         {{#unless isTopPackage}}
           <div class="col-md-3" id="createdMeals">
            <h5>{{title}}</h5>
            <a href="/mealPackage/{{_id}}">
          <img src="/public/photos/{{imageURL}}" height="250" width="250" />
          </a>
          <span class="caption-package">{{mealContent}}<br /><br />${{price}}</span>
        </div>
        {{/unless}}
      {{/each}}

      </div>

      
    </div>
  </section>